<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css}">

</head>


<body>
<!--/*@thymesVar id="recipe" type="com.sbtraining.recipe_project.model.Recipe"*/-->
<!--/*@thymesVar id="category" type="com.sbtraining.recipe_project.model.Category"*/-->
<!--/*@thymesVar id="recipe" type="com.sbtraining.recipe_project.model.Ingredient"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title" th:text="${recipe.description}">Recipe description here</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="">Categories:</div>
                        </div>
                        <div class="col-md-10">
                            <ul id="categoryList" style="list-style: none; display: grid; ">
                                <li th:each="category : ${recipe.categories}"
                                    th:text="${#strings.capitalize(category.description)}">Cat one
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div>Prep Time:</div>
                        </div>
                        <div class="col-md-3">
                            <div th:text="${(recipe.prepTime) + ' Min'}">30 min</div>
                        </div>

                        <div class="col-md-2">
                            <div>Difficulty</div>
                        </div>
                        <div class="col-md-5">
                            <div th:text="${recipe.difficulty}">Easy
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div>Cooktime:</div>
                        </div>
                        <div class="col-md-3">
                            <div th:text="${recipe.cookTime}">30 min</div>
                        </div>

                        <div class="col-md-2">
                            <div>Servings:</div>
                        </div>
                        <div class="col-md-5">
                            <div th:text="${recipe.servings}">Easy</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div>Source:</div>
                        </div>
                        <div class="col-md-3">
                            <div th:text="${recipe.source}">30 min</div>
                        </div>

                        <div class="col-md-2">
                            <div>URL:</div>
                        </div>
                        <div class="col-md-5">
                            <a th:href="${recipe.url}" th:text="${recipe.url}">http://www.simplyrecipes.com/recipes/spicy_grilled_chicken_tacos/</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Ingredients</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul style="list-style: none;">
                                <li th:each="ingredient : ${recipe.ingredients}"
                                    th:text="${ingredient.amount}
                                    + '  ' + ${#strings.capitalize(ingredient.uom.description)}
                                    + ' - ' + ${#strings.capitalize(ingredient.description)}">1 Cup of milk
                                </li>
                            </ul>
                            <div class="row-no-gutters col-md-12">
                                <a class="btn btn-primary pull-right btn_custom_size" href="#" id="view_btn" role="button" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" >View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Directions</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere lectus quis
                                tempor tincidunt. Aenean placerat gravida odio ac accumsan. Quisque nulla diam,
                                condimentum id laoreet nec, commodo pharetra lectus. In mattis nulla urna, sed pulvinar
                                metus placerat et. Morbi egestas efficitur enim, ut fermentum tellus sagittis sit amet.
                                Phasellus varius magna ac quam accumsan imperdiet. Nulla in velit commodo, molestie
                                ligula at, pretium ipsum. Vivamus venenatis tristique odio id dignissim. Sed fringilla
                                suscipit finibus. Curabitur vehicula sagittis orci nec iaculis. Phasellus condimentum
                                vestibulum ligula a maximus. Vestibulum id dapibus magna. Donec vel mollis nunc. Duis
                                libero sem, laoreet non diam nec, euismod vulputate urna. Vivamus eget ligula eget
                                tortor vulputate sollicitudin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Notes</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notes.recipeNotes}">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere lectus quis
                                tempor tincidunt. Aenean placerat gravida odio ac accumsan. Quisque nulla diam,
                                condimentum id laoreet nec, commodo pharetra lectus. In mattis nulla urna, sed pulvinar
                                metus placerat et. Morbi egestas efficitur enim, ut fermentum tellus sagittis sit amet.
                                Phasellus varius magna ac quam accumsan imperdiet. Nulla in velit commodo, molestie
                                ligula at, pretium ipsum. Vivamus venenatis tristique odio id dignissim. Sed fringilla
                                suscipit finibus. Curabitur vehicula sagittis orci nec iaculis. Phasellus condimentum
                                vestibulum ligula a maximus. Vestibulum id dapibus magna. Donec vel mollis nunc. Duis
                                libero sem, laoreet non diam nec, euismod vulputate urna. Vivamus eget ligula eget
                                tortor vulputate sollicitudin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>

<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>


</body>
</html>