<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css}">
</head>


<body>
<!--/*@thymesVar id="recipe" type="com.sbtraining.recipe_project.model.Ingredient"*/-->
<div class="container-fluid" style="margin-top: 20px">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <form th:action="@{'/recipe/' + ${ingredient.getRecipeId() + '/ingredient'}}">
                <input type="hidden" th:field="*{ingredient.id}">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" class="form-control" th:field="*{ingredient.description}">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="amount">Amount</label>
                                    <input id="amount" type="number" class="form-control" th:field="*{ingredient.amount}">
                                </div>

                                <div class="col-md-3 form-group">
                                    <label for="uom">UOM:</label>

                                    <select name="uom.id" id="uom" class="form-control">
                                        <option th:each="uomEach : ${uomList}"
                                                th:value="${uomEach.id}"
                                                th:selected="${uomEach.equals(ingredient.uom)}"
                                                th:text="${uomEach.description}">Each</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right" style="background-color: white;">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>

<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</body>

</html>