
/*!*@direction: none;*!*/

/*!*.resizable(@direction: both) {*!*/
/*!*  // Options: horizontal, vertical, both*!*/

/*!*}*!*/

/*textarea.text{*/
/*  resize: none !important;*/
/*  !*overflow: hidden !important;*!*/
/*}*/

/*button.btn-primary {*/
/*  width: 75px !important;*/
/*}*/
/*.btn_custom_size {*/
/*  margin-right: 1rem !important;*/
/*}*/

/*.panel {*/
/*  table-layout:fixed;*/
/*}*/

/*.panel-body {*/
/*  white-space: nowrap;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*}*/

/*div.img_btn_row {*/
/*  margin-top: 1rem !important;*/
/*  !*padding-top: 1rem;*!*/
/*}*/

recipe-card--btn {
    width: 100% !important;
}

.bg-cover {
    width: 100%;
    height: 180px;
    background-size: cover;
}


.scroll-to-top{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 46px;
}
