<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout ( ~{::head},~{::body},'Home', 'List of Recipes')}"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="../../static/resources/css/-Filterable-Cards-.css" rel="stylesheet"
          th:href="@{/css/-Filterable-Cards-.css}">
    <link href="../../static/resources/css/-Filterable-Cards-.css" rel="stylesheet"
          th:href="@{/css/fragments-css/recipe-card.css}">

</head>

<body>
<!--TODO: remove inline css to styles-->
<div class="container-fluid" style="font-family: 'Open Sans', sans-serif;color: rgb(52,55,57);">
    <div class="row text-center d-xl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center"
         style="padding: 0px;padding-right: 0rem;padding-left: 0;text-align: center;">
        <div class="col-12 col-md-12 col-lg-9 col-xl-12 text-left align-self-center">
            <section class="py-5">
                <div class="container">
                    <h1 class="display-4 d-table-row d-xl-flex justify-content-xl-center text-center mb-4">Recipes</h1>
                    <div class="filtr-controls text-center lead text-uppercase mb-3">
                        <span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span>

                        <!-- TODO: Show only categories that are present in the recipes returned-->
                        <th:block th:each="category : ${categories}">
                            <span class="d-inline-block mx-3 py-1 position-relative" th:attr='data-filter=${category}'
                                  th:text="${category}">CATEGORY 1&nbsp;</span>
                        </th:block>

                    </div>

                    <div class="row filtr-container" th:if="${not #lists.isEmpty(recipes)}">

                        <div th:each="recipe : ${recipes}">
                            <!--/*@thymesVar id="recipe" type="com.sbtraining.recipe_project.model.Recipe"*/-->
                            <div th:include="fragments/index-fragments/recipe-card-fragment::recipeCard(${recipe})"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>

</html>