<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="homePagefrag">
<!-- Page Top Recipe Section Begin -->
<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item large-item">
                    <div class="pt-recipe-img set-bg" data-setbg="img/recipe-3.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="pt-recipe-text">
                        <span>March 10, 2019</span>
                        <h3>Cannellini Aglio e Olio with Salmon</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="pt-recipe-img set-bg" data-setbg="img/recipe-1.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="pt-recipe-text">
                        <h4>Raw Vegan Carrot Cake Bites with Avocado</h4>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="pt-recipe-img set-bg" data-setbg="img/recipe-2.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="pt-recipe-text">
                        <h4>One Pot Weeknight Lasagna Soup Recipe</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="pt-recipe-item">
                    <div class="pt-recipe-img set-bg" data-setbg="img/recipe-4.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="pt-recipe-text">
                        <h4>Beef Burger with French Fries and Salad</h4>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="pt-recipe-img set-bg" data-setbg="img/recipe-5.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="pt-recipe-text">
                        <h4>Raspberry Pancakes with Honey and Butter</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Top Recipe Section End -->

<!-- Top Recipe Section Begin -->
<section class="top-recipe spad">
    <div class="section-title">
        <h5>Top Recipes this Week</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="top-recipe-item large-item">
                    <div class="top-recipe-img set-bg" data-setbg="img/top-recipe/recipe-1.jpg">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="top-recipe-text">
                        <div class="cat-name">Desert</div>
                        <a href="#">
                            <h4>One Pot Weeknight Lasagna Soup Recipe</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="top-recipe-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="top-recipe-img set-bg" data-setbg="img/top-recipe/recipe-2.jpg">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="top-recipe-text">
                                <div class="cat-name">Vegan</div>
                                <a href="#">
                                    <h4>One Pot Weeknight Lasagna Soup Recipe</h4>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-recipe-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="top-recipe-img set-bg" data-setbg="img/top-recipe/recipe-3.jpg">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="top-recipe-text">
                                <div class="cat-name">Meat lover</div>
                                <a href="#">
                                    <h4>Veggie soup with Mushrooms</h4>
                                </a>
                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-recipe-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="top-recipe-img set-bg" data-setbg="img/top-recipe/recipe-4.jpg">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="top-recipe-text">
                                <div class="cat-name">Desert</div>
                                <a href="#">
                                    <h4>Caramel Ice Cream with Berries</h4>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-recipe-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="top-recipe-img set-bg" data-setbg="img/top-recipe/recipe-5.jpg">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="top-recipe-text">
                                <div class="cat-name">Desert</div>
                                <a href="#">
                                    <h4>Freash Octopuse with lime juice</h4>
                                </a>
                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Recipe Section End -->

<th:block th:include="/frontend-ui/body-template/fragments/categoriesFilterSection::categoriesFilterSection"></th:block>


</th:block>
</body>
</html>